@import "tailwindcss";
@font-face {
  font-family: "phi";
  src: url("../assets/fonts/Philosopher-Regular.ttf");
}

* {
  font-family: "phi";
}
::-webkit-scrollbar{
    display: none;
}
.bg{
    background-image: url(../assets/background2.webp);
}