.sponsor-card::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 24px;
    border: 2px solid transparent;
    background: linear-gradient(270deg, #fff, #c3073f) border-box;
    background-size: 400% 400%;
    animation: spaceBorderMove 4s linear infinite;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    z-index: 1;
}

@keyframes spaceBorderMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}