@import "tailwindcss";
@import "remixicon/fonts/remixicon.css";

@font-face {
  font-family: "Bad";
  src: url("./fonts/Bad Signal.otf");
}
@font-face {
  font-family: "Cracked";
  src: url("./fonts/Cracked Code.ttf");
}
@font-face {
  font-family: "Glitching";
  src: url("./fonts/GlitchingDemoRegular.ttf");
}
/* @font-face {
    font-family: 'Morvien';
    src: url('./fonts/Morvien-Regular.ttf') ;
} */
@font-face {
  font-family: "Split On";
  src: url("./fonts/SplitOn.otf");
}
/* @font-face {
    font-family: 'Wrong Delivery';
    src: url('./fonts/Wrong Delivery.ttf') ;
} */
* {
  font-family: "Bad";
}
/* ::-webkit-scrollbar {
  display: none;
} */
html,
body {
  height: 100%;
  width: 100%;
}
#root {
  height: 100vh;
  width: 100vw;
}

.scroll-box {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto; /* ✅ allow scrolling */
  pointer-events: auto;
  z-index: 1;
}

.content {
  height: 5000px; /* enough height to scroll */
  width: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.animated-text.visible,
.animated-main.visible {
  opacity: 1;
  filter: blur();
  pointer-events: none;
}
.animated-text,
.animated-step,
.animated-form,
.animated-main {
  z-index: 2;
  pointer-events: none;
  width: 100%;
  transition: opacity 0.6s, filter 0.6s;
  position: fixed;
}
.animated-main {
  opacity: 0;
  bottom: 0;
}

.animated-step.visible {
  opacity: 1;
  pointer-events: auto; /* enable interactions when visible */
}

.animated-text, .animated-step {
    opacity: 0;
    height: 100vh;
    top: 0;
}