@import "tailwindcss";
@import "remixicon/fonts/remixicon.css";

@font-face {
  font-family: "Bad";
  src: url("./fonts/Bad Signal.otf");
}
@font-face {
  font-family: "Cracked";
  src: url("./fonts/Cracked Code.ttf");
}
@font-face {
  font-family: "Glitching";
  src: url("./fonts/GlitchingDemoRegular.ttf");
}
/* @font-face {
    font-family: 'Morvien';
    src: url('./fonts/Morvien-Regular.ttf') ;
} */
@font-face {
  font-family: "Split On";
  src: url("./fonts/SplitOn.otf");
}
/* @font-face {
    font-family: 'Wrong Delivery';
    src: url('./fonts/Wrong Delivery.ttf') ;
} */
* {
  font-family: "Bad";
}
::-webkit-scrollbar {
  display: none;
}
html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* Scrollable box */
.scroll-box {
  width: 100%;
  position: fixed;
pointer-events: auto;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  touch-action: pan-y;            
}
.fade {
  opacity: 0;
  pointer-events: auto;
}
.fade.active {
  opacity: 1;
  pointer-events: auto;
}

.content {
  height: 5000px;
  width: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.animated-text.visible, .animated-main.visible {
    opacity: 1;
    filter: blur();
    pointer-events: none;
}

.animated-main {
    opacity: 0;
    bottom: 0;
}
.animated-step.visible {
    opacity: 1;
    pointer-events: none;
}

.animated-text, .animated-step {
    opacity: 0;
    height: 100vh;
    top: 0;
}
.animated-text, .animated-step, .animated-form, .animated-main {
    z-index: 2;
    pointer-events: none;
    width: 100%;
    transition: opacity .6s, filter .6s;
    position: fixed;
}
.animated-text, .animated-main{
    filter: blur(20px);
    opacity: 0;
}

.animated-text, .animated-step {
    opacity: 0;
    height: 100vh;
    top: 0;
}
.animated-text, .animated-step, .animated-form, .animated-main {
    z-index: 2;
    pointer-events: none;
    width: 100%;
    transition: opacity .6s, filter .6s;
    position: fixed;
}