@import "tailwindcss";
@import "remixicon/fonts/remixicon.css";

@font-face {
  font-family: "Bad";
  src: url("./fonts/Bad Signal.otf");
}
@font-face {
  font-family: "Cracked";
  src: url("./fonts/Cracked Code.ttf");
}
@font-face {
  font-family: "Glitching";
  src: url("./fonts/GlitchingDemoRegular.ttf");
}
/* @font-face {
    font-family: 'Morvien';
    src: url('./fonts/Morvien-Regular.ttf') ;
} */
@font-face {
  font-family: "Split On";
  src: url("./fonts/SplitOn.otf");
}
/* @font-face {
    font-family: 'Wrong Delivery';
    src: url('./fonts/Wrong Delivery.ttf') ;
} */
* {
  font-family: "Bad";
}
/* ::-webkit-scrollbar{
  display: none;
} */

body{
  overflow: hidden;
  box-sizing: border-box;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
